*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
runConfigurations.xml
Project.xml
misc.xml
gradle.xml
deploymentTargetSelector.xml
compiler.xml
codeStyleConfig.xml
AndroidProjectSystem.xml
